* {
  font-family: Helvetica, Arial, sans-serif;
}


h1 {
  color: SeaGreen;
}

.header {
  margin: auto;
  width 50%;
}

p,
li {
  font-size: 18px;
}

.header-image{
  width: 50%;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a.external-link {
  color: SeaGreen;
}
